ipykernel
langchain
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
langchain-openai
langchain-ollama
chromadb
faiss-cpu
langchain_chroma
langsmith
langchain_core
beautifulsoup4
streamlit
ollama
langchain-groq
fastapi
uvicorn
langserve
sse_starlette
pygame
langchain_huggingface
sentence-transformers
duckdb
pandas
